DISCORD_TOKEN=DISCORD_TOKEN
CHANNEL_ID=CHANNEL_ID_WHERE_BOT_WILL_SHOW_DATA
ALERT_CHANNEL_ID=CHANNEL_ID_WHERE_BOT_WILL_POST_ALERT
OFFLINE_ROLE_ID=ROLE_ID_WHICH_BOT_WILL_TAG_ON_SERVER_STATUS_CHANGED
REFRESH_SECONDS=REFRESH_INTERVAL